<div class="flex flex-col mt-8 md:mt-16">
  <div class="grid items-center w-full min-h-[84vh] md:min-h-[640px] grid-cols-1 md:grid-cols-[2fr_1fr] gap-0 md:gap-0">
    <!-- Left Section -->
    <div
      class="relative flex flex-col bg-gray-100 items-center justify-center h-[50vh] md:h-[640px] w-full col-span-1 overflow-hidden bg-platinum rounded-3xl">
      <div class="z-40 flex flex-col gap-0 pb-10 md:pb-20">
        <div class="flex justify-center mt-4 md:mt-6 z-10">
          <img src="assets/Frame 30 (4).png" alt="Microscopic view of mesothelioma cells"
            class="w-full md:w-1/2 h-auto object-cover" fetchpriority="high" decoding="async" data-nimg="fill" sizes="100vw"
            style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
        </div>
      </div>
    </div>

    <!-- Right Section -->
    <div class="col-span-1 flex flex-col overflow-hidden h-[60vh] md:h-[640px]">
      <div class="relative flex flex-col overflow-hidden rounded-2xl md:rounded-[2rem] h-full">
        <img src="assets/Frame 16 (1).png" alt="Microscopic view of mesothelioma cells"
          class="w-full h-full object-cover" fetchpriority="high" decoding="async" data-nimg="fill" sizes="100vw"
          style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">

        <div class="absolute p-6 md:p-10 mb-[10px] md:mb-[15px]">
          <h1 class="text-[#AFDA7C] text-3xl md:text-5xl font-medium w-full md:w-[350px]">
            Justice and <br> Compensation <br>
          </h1>

          <ul class="text-white text-sm md:text-md font-light w-full md:w-[350px] mt-3 md:mt-5 list-disc pl-5">
            <li class="mt-3 md:mt-5">A mesothelioma diagnosis comes with overwhelming financial burdens.</li>
            <li class="mt-3 md:mt-5">The costs associated with hospital visits, surgeries, chemotherapy, and other treatments
              can quickly add up. </li>
            <li class="mt-3 md:mt-5">Many victims are also unable to work due to their illness, leading to lost wages that
              further strain their families.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>