<div class="mb-16 w-4/5 m-auto px-4 md:px-8 lg:px-14"> <!-- Adjusted width to 80% (20% less) and centered with mx-auto -->
    <div class="text-center mb-10 mt-32">
        <h1 class="text-5xl font-medium mb-5"></h1>
        <p class="text-xl mt-5"></p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-0 w-full h-[90vh]">
        <div class="bg-white p-8 flex flex-col w-full">
            <h1 class="text-5xl font-medium mb-10">How We Make a Difference?</h1>
            <ul>
                <li>At Fight for Mesothelioma, our commitment extends beyond legal assistance.
                </li>
                <li> We advocate, educate, and work toward a future free from asbestos related harm.</li>
            </ul>
        </div>

        <div class="bg-[#D6DCD9] rounded-[2rem] p-8 flex flex-col w-full">
            <div class="bg-gray-200 h-12 w-12 flex items-center justify-center rounded-[2rem] mb-4">
                <img src="assets/Frame 21 (27).png" alt="Mesothelioma Resources & Support"
                    class="w-full h-full object-cover" />
            </div>
            <h3 class="text-3xl font-medium mb-4">Legal Advocacy & Compensation</h3>
            <p>Our legal partners have successfully recovered millions in compensation, helping families cover medical expenses, lost wages, and other financial burdens.
            </p>
        </div>

        <div class="bg-[#EDF6E1] rounded-[2rem] p-8 flex flex-col w-full">
            <div class="bg-gray-200 h-12 w-12 flex items-center justify-center rounded-[2rem] mb-4">
                <img src="assets/Frame 21 (20).png" alt="Mesothelioma Resources & Support"
                    class="w-full h-full object-cover" />
            </div>
            <h3 class="text-3xl font-medium mb-4">Awareness & Education</h3>
            <p>We provide crucial information about asbestos exposure risks, workplace safety regulations, and legal rights, empowering individuals to protect themselves and their loved ones.</p>
        </div>

        <div class="bg-[#ECEAE5] rounded-[2rem] p-8 flex flex-col w-full">
            <div class="bg-gray-200 h-12 w-12 flex items-center justify-center rounded-[2rem] mb-4">
                <img src="assets/Frame 21 (19).png" alt="Mesothelioma Resources & Support"
                    class="w-full h-full object-cover" />
            </div>
            <h3 class="text-3xl font-medium mb-4">Prevention Strategies</h3>
            <p>By educating workers, homeowners, and businesses, we help minimize exposure risks. We share guidance on asbestos identification and safe handling practices to prevent future cases.</p>
        </div>
    </div>
</div>