<div class="w-full bg-white font-body max-w-[1600px] m-auto px-4 md:px-8 lg:px-14 ">
    <app-header></app-header>
    <app-meso-section-one></app-meso-section-one>
    <app-meso-section-second></app-meso-section-second>
    <app-meso-section-third></app-meso-section-third>
    <app-meso-section-fourth></app-meso-section-fourth>
    <app-meso-section-five></app-meso-section-five>
    <app-meso-section-six></app-meso-section-six>
    <app-meso-section-seven></app-meso-section-seven>
    <app-meso-section-eight></app-meso-section-eight>
    <app-meso-section-nine></app-meso-section-nine>
    <app-meso-section-ten></app-meso-section-ten>
    <app-footer></app-footer>
  </div>