
<!-- Second Section -->
<div class="flex flex-col mt-16 mb-16">
  <div class="grid items-center w-full min-h-[80vh] md:h-[80vh] grid-cols-1 md:grid-cols-3">
    <!-- Image Section -->
    <div class="col-span-1 flex flex-col overflow-hidden h-full">
      <div class="relative flex flex-col justify-end gap-4 py-8 overflow-hidden bg-black rounded-[2rem] px-7 h-full">
        <img src="assets/Frame 29.png" alt="Microscopic view of mesothelioma cells" class="w-full h-full object-cover"
          fetchpriority="high" decoding="async" sizes="100vw" style="position: absolute; inset: 0px;">
      </div>
    </div>

    <section
      class="bg-stone-100 min-h-[400px] flex items-center justify-center h-full col-span-1 md:col-span-2 gap-1 overflow-hidden bg-platinum rounded-[2rem]" >
      <div class="mx-auto ml-24 mt-26">
        <h3 class="text-zinc-900 text-lg uppercase font-semibold tracking-wide mb-10 mt-16">
          CONNECT WITH US
        </h3>

        <h1 class="text-zinc-800 text-5xl md:text-6xl font-medium leading-tight mb-10">
          Get expert legal advice<br>
          with no obligation
        </h1>

        <div class="mt-6 md:mt-10">
          <button class="text-green-900 px-6 py-2 rounded-md flex items-center font-medium"
            style="background-color: #B2DA82;">
            CONTACT US
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </button>
        </div>
      </div>
    </section>
  </div>
</div>