<!-- mission.component.html -->

<div class="mb-16 w-full">
    <div class="flex flex-col items-center justify-center mt-16">
        <div class="relative flex items-center justify-center">
            <img src="assets/Group 86.png" class="w-[90px] h-[61px]" />
          
        </div>
    </div>
    <div class="text-center mb-5 mt-10">
        <h1 class="text-5xl text-[#10452E] font-medium mb-5">Together, we fight for justice, <br> awareness, and a
            future free from <br> asbestos dangers.</h1>
    </div>
</div>
<div class="mt-40 bg-[#10452E] w-full flex flex-col items-center justify-center ">
    <div class="container w-full p-16">
        <!-- Mission Title -->
        <h1 class="text-5xl font-medium text-white text-center mb-6">Our Mission</h1>

        <!-- Mission Statement -->
        <p class="text-white text-center text-lg text-light max-w-3xl mx-auto mb-20 mt-10">
            At Fight for Mesothelioma, our mission is to provide<br>
            essential resources, legal guidance, and advocacy.
        </p>

        <!-- Three Cards -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-0">
            <!-- Legal Support Card -->
            <div class="rounded-3xl border border-[#ECEAE5] p-10">
                <div class="bg-gray-200 h-12 w-12 flex items-center justify-center rounded-[2rem] mb-4">
                    <img src="assets/Frame 21 (26).png" alt="Mesothelioma Resources & Support"
                        class="w-full h-full object-cover" />
                </div>
                <h2 class="text-[#B2DA82] text-3xl font-normal mb-4">Legal Support</h2>

                <!-- Description -->
                <p class="text-white text-base">
                    Connecting victims with leading mesothelioma attorneys who specialize in asbestos-related claims,
                    ensuring
                    they receive the justice and compensation they deserve.
                </p>
            </div>

            <!-- Awareness & Advocacy Card -->
            <div class="rounded-3xl border border-[#ECEAE5] p-10">
                <div class="bg-gray-200 h-12 w-12 flex items-center justify-center rounded-[2rem] mb-4">
                    <img src="assets/Frame 21 (25).png" alt="Mesothelioma Resources & Support"
                        class="w-full h-full object-cover" />
                </div>

                <!-- Title -->
                <h2 class="text-[#B2DA82] text-3xl font-normal mb-4">Awareness & Advocacy</h2>

                <!-- Description -->
                <p class="text-white text-base">
                    Raising awareness about the dangers of asbestos exposure, workplace safety, and the legal rights of
                    those
                    affected.
                </p>
            </div>

            <!-- Prevention & Safety Card -->
            <div class="rounded-3xl border border-[#ECEAE5] p-10">
                <div class="bg-gray-200 h-12 w-12 flex items-center justify-center rounded-[2rem] mb-4">
                    <img src="assets/Frame 21 (24).png" alt="Mesothelioma Resources & Support"
                        class="w-full h-full object-cover" />
                </div>
                <h2 class="text-[#B2DA82] text-3xl font-normal mb-4">Prevention & Safety</h2>
                <p class="text-white text-base">
                    Preventing future cases by sharing vital information on how to recognize and minimize asbestos
                    exposure risks.
                </p>
            </div>
        </div>
    </div>
</div>