<!-- mission.component.html -->

<div class="mt-40 bg-[#EDF6E1] w-full flex flex-col items-center justify-center ">
  <div class="container w-full p-16">
    <!-- Mission Title -->
    <h1 class="text-5xl font-medium text-[#10452E] text-center mb-16 mt-10">Why Us?</h1>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-0">
      <!-- Legal Support Card -->
      <div class="rounded-3xl border border-[#616563] p-10">
        <div class="bg-gray-200 h-12 w-12 flex items-center justify-center rounded-[2rem] mb-4">
          <img src="assets/Frame 21 (21).png" alt="Mesothelioma Resources & Support"
            class="w-full h-full object-cover" />
        </div>
        <h2 class="text-[#10452E] text-3xl font-medium mb-4">Top-Tier <br> Legal Support</h2>

        <!-- Description -->
        <p class="text-[#33171E] text-base">
          Our partnered mesothelioma attorneys <br> specialize in asbestos-related lawsuits and <br> have a proven track
          record of success.
        </p>
      </div>

      <!-- Awareness & Advocacy Card -->
      <div class="rounded-3xl border border-[#616563] p-10">
        <div class="bg-gray-200 h-12 w-12 flex items-center justify-center rounded-[2rem] mb-4">
          <img src="assets/Frame 21 (22).png" alt="Mesothelioma Resources & Support"
            class="w-full h-full object-cover" />
        </div>

        <!-- Title -->
        <h2 class="text-[#10452E] text-3xl font-medium mb-4">No Upfront <br>Costs</h2>

        <!-- Description -->
        <p class="text-[#33171E] text-base">
          You pay nothing unless we win <br> your case.
        </p>
      </div>

      <!-- Prevention & Safety Card -->
      <div class="rounded-3xl border border-[#616563] p-10">
        <div class="bg-gray-200 h-12 w-12 flex items-center justify-center rounded-[2rem] mb-4">
          <img src="assets/Frame 21 (23).png" alt="Mesothelioma Resources & Support"
            class="w-full h-full object-cover" />
        </div>
        <h2 class="text-[#10452E] text-3xl font-medium mb-4">Comprehensive <br> Resources</h2>
        <p class="text-[#33171E] text-base">
          Get access to the latest information <br> on legal rights, compensation, and <br> asbestos exposure.
        </p>
      </div>
    </div>


    <div class="mb-16 w-full mt-16">
      <div class="flex flex-col items-center justify-center mt-32">
        <div class="relative flex items-center justify-center">
          <img src="assets/Group 86.png" class="w-[90px] h-[61px]" />

        </div>
      </div>
      <div class="text-center mb-5 mt-10">
        <h1 class="text-4xl text-[#10452E] font-medium mb-5 ">A trusted initiative powered by Connect2Lawyer, a leading
          legal <br>network in Australia that connects individuals with top legal experts <br>
          in personal injury, mass torts, and class action lawsuits.</h1>
      </div>
    </div>
  </div>
</div>