<div class="w-full bg-white font-body max-w-[1600px] m-auto px-4 md:px-8 lg:px-14 ">
    <app-header></app-header>

    <div class="relative flex flex-row h-[640px]">
        <div class="flex-1 m-0 basis-64 relative"> <!-- Add `relative` to the parent container -->
            <!-- Text Container (positioned absolutely) -->
            <div class="absolute top-8 ml-16 mt-32 left-0 p-6 z-10">
                <!-- Add `z-10` to ensure text is above the image -->
                <div class="flex flex-col gap-2">
                    <div class="flex items-center gap-1 mb-6">
                        <span class="inline-block p-2 rounded-md">
                            <img src="assets/Frame 21 (2).png" alt="Mesothelioma Resources & Support" class="w-7 h-7" />

                        </span>
                        <span class="text-sm font-medium text-white">GET STARTED</span>
                    </div>
                    <h2 class="text-[48px] mt-2 text-[#a3d175] font-medium">Your Fight Starts Here!</h2>
                    <p class="text-[16px] text-gray-300">
                        Have you or someone you know been diagnosed <br>
                        with mesothelioma? <br><br>

                        We’re here to help. Reach out to us for a free case evaluation <br> and let our experts guide
                        you
                        through the legal process.
                    </p>
                </div>
            </div>
            <img src="../../assets/Frame 30 (1).png" class="w-full h-full object-cover rounded-[2rem]" />
        </div>


        <div class="relative flex-1 basis-134 rounded-[2rem]">
            <div class="flex-1 m-0 basis-64 relative"> 
                <div class="absolute top-8 ml-2 mt-32 left-0 p-10 z-10">
                    <div class="flex flex-col mt-40">
                        <label class="text-[16px] text-black-500 flex items-center">
                            <input type="radio" name="consent" class="mr-2">
                            I agree to the privacy policy and disclaimer and give my express written consent to be contacted regarding my case options. I understand that I may be contacted using automatic dialing equipment. Message and data rates may apply. My consent does not require purchase. This is Legal advertising.
                        </label>
                        <br>
                        <label class="text-[16px] text-black-500 flex items-center">
                            <input type="radio" name="verification" class="mr-2">
                            Please check this box to verify you're a person.
                        </label>
                    </div>
                </div>
                <div class="flex absolute bottom-8 left-10">
                    <a routerLink="/SubmitClaimForm">
                        <button type="button" (click)="nextStep()"
                            class="bg-[#a3d175] hover:bg-[#8bc55b] text-gray-800 font-medium py-3 px-6 rounded-[1rem] flex items-center space-x-2">
                            <span>NEXT</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M14 5l7 7m0 0l-7 7m7-7H3" />
                            </svg>
                        </button>
                    </a>
                </div>
                <img src="../../assets/submit card.png" class="w-full h-[640px] rounded-[2rem]" />

            </div>
           
        </div>
    </div>
    <app-footer></app-footer>
</div>