<div class="mb-16 w-full mt-16">
 

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-0 w-[900px]">
    <div class="overflow-hidden rounded-[2rem] w-full h-[580px] gap-0 relative">
      <img src="assets/Frame 83 (1).png" alt="Mesothelioma Resources & Support"
        class="w-full h-full object-cover rounded-[2rem]" />
    
      <!-- Title at the top -->
      <p class="absolute top-8 left-10 text-black text-5xl font-medium p-5">
        Types of Mesothelioma
      </p>
    
      <!-- Text at the bottom -->
      <p class="absolute bottom-24 left-1/2 transform -translate-x-1/2 text-black text-lg font-medium text-center w-[300px]">
        <span class="block w-full">Get a free assessment for—</span>
        <span class="block w-full">Mesothelioma Claims.</span>
      </p>
    
      <!-- Button at the bottom, centered horizontally -->
      <div class="absolute bottom-8 left-1/2 transform -translate-x-1/2 z-10">
        <button
          class="bg-[#10452E] hover:bg-[#8bc55b] text-white font-medium py-2 px-8 rounded-lg flex items-center space-x-2">
          CLAIM NOW
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
          </svg>
        </button>
      </div>
    </div>


    <div class="grid grid-cols-1 md:grid-cols-2 gap-0 w-[980px]">
      <div class="bg-white border border-gray-300 rounded-[2rem] p-8 flex flex-col w-full">
        <div class="bg-gray-200 h-12 w-12 flex items-center justify-center rounded-[2rem] mb-4">

          <img src="assets/Frame 21 (4).png" alt="Mesothelioma Resources & Support"
            class="w-full h-full object-cover rounded-[2rem]" />
        </div>
        <h3 class="text-2xl font-semibold mb-4">Pleural Mesothelioma</h3>
        <p>It is the most common type of mesothelioma,
          accounting for 75% of all cases. This aggressive
          cancer develops in the pleura, the thin membrane
          surrounding the lungs.</p>

      </div>

      <div class="bg-white border border-gray-300 rounded-[2rem] p-8 flex flex-col w-full">
        <div class="bg-gray-200 h-12 w-12 flex items-center justify-center rounded-[2rem] mb-4">
          <img src="assets/Frame 21 (5).png" alt="Mesothelioma Resources & Support"
            class="w-full h-full object-cover rounded-[2rem]" />

        </div>
        <h3 class="text-2xl font-semibold mb-4">Peritoneal Mesothelioma</h3>
        <p>It is a rare but serious cancer that affects the
          peritoneum, the protective lining of the abdomen.
          This form of mesothelioma accounts for 15 20% of
          all cases and is caused by asbestos exposure</p>
      </div>

      <div class="bg-white border border-gray-300 rounded-[2rem] p-8 flex flex-col w-full">
        <div class="bg-gray-200 h-12 w-12 flex items-center justify-center rounded-[2rem] mb-4">
          <img src="assets/Frame 21 (6).png" alt="Mesothelioma Resources & Support"
            class="w-full h-full object-cover rounded-[2rem]" />

        </div>
        <h3 class="text-2xl font-semibold mb-4">Pericardial Mesothelioma
        </h3>
        <p>Is an extremely rare form of mesothelioma,
          accounting for less than 1% of all cases. This
          aggressive cancer develops in the pericardium,
          the thin membrane surrounding the heart.</p>
      </div>

      <div class="bg-white border border-gray-300 rounded-[2rem] p-8 flex flex-col w-full">
        <div class="bg-gray-200 h-12 w-12 flex items-center justify-center rounded-[2rem] mb-4">
          <img src="assets/Frame 21 (1).png" alt="Mesothelioma Resources & Support"
            class="w-full h-full object-cover rounded-[2rem]" />

        </div>
        <h3 class="text-2xl font-semibold mb-4">Legal rights matter</h3>
        <p>Victims may be entitled to compensation for medical expenses, lost income, and suffering. Seeking legal
          advice can make a real difference.</p>
      </div>
    </div>
  </div>
</div>