<div class="w-full bg-white font-body ">
    <app-header-about-us></app-header-about-us>
    <div class="max-w-8xl m-auto mt-5 px-4 md:px-8 lg:px-14">
        <!-- Header Section -->
        <div class="w-full bg-[#ECEAE5] rounded-[2rem] mb-16 py-8">
            <div class="rounded-[2rem] p-8 max-w-3xl mx-auto mt-10 p-10">
                <h1 class="text-[48px] font-medium text-left text-[#33171E] mb-4">Privacy Policy</h1>

                <p class="text-[16px] text-[#33171E] mb-4 mt-10 text-left">
                    The Privacy Policy outlined below discloses the specific ways in which
                    Fightformesotthelioma.com functions, how you should use it or can use it, how we
                    collect user information and how that information is handled and protected. Your
                    privacy is important to Fightformesotthelioma.com, and we're committed to making
                    our practices clear and transparent.
                </p>

                <p class="text-[16px] text-[#33171E] text-left">
                    By using this website you consent to this Policy, including your consent to our use
                    and disclosure of information about you in the manner described in this Policy.
                </p>
            </div>
        </div>

        <!-- Information Collection Section -->
        <div class="bg-white border border-gray-200 rounded-[2rem] p-16 mb-10">
            <div class="flex flex-col md:flex-row gap-[50px]">
                <!-- Left Column -->
                <div class="md:w-1/2">
                    <h2 class="text-5xl font-medium text-gray-800 mb-2">Information</h2>
                    <h2 class="text-5xl font-medium text-gray-800">Collection and Use</h2>
                </div>

                <!-- Right Column -->
                <div class="md:w-2/3">
                    <p class="text-[20px] text-black-700 mb-4">
                        Fightformesotthelioma.com receives but does not track, a
                        variety of "personally identifiable information" such as your
                        email address, IP address, and message content. When we
                        need to collect personally identifiable information from you to
                        execute a requested transaction or provide you with a
                        particular service, we will ask you to voluntarily supply us with
                        the information we need.
                    </p>

                    <p class="text-[20px] text-black-700 mb-4 mb-4">
                        We may ask you for information such as, but not limited to:
                        your name, address, telephone number, and email address to
                        process your submission. You have the option of also
                        providing information regarding your name, demographics
                        (such as your state and country of residency), operating
                        system, browser, Internet service provider ("ISP"), connection
                        type and email program that you are using.
                    </p>

                    <p class="text-[20px] text-black-700 mb-4 mb-4">
                        Fightformesotthelioma.com also automatically receives and
                        records information on our server logs from your browser,
                        including your IP Address and the page you requested. Your IP
                        address is not linked to your email address or
                        Fightformesotthelioma.com.
                    </p>
                </div>
            </div>
        </div>

        <div class="bg-white border border-gray-200 rounded-[2rem] p-8 mb-10">
            <div class="flex flex-col md:flex-row gap-[50px]">
                <!-- Left Column -->
                <div class="md:w-1/2">
                    <h2 class="text-5xl font-medium text-gray-800 mb-2">IP Address Usage</h2>
                </div>

                <!-- Right Column -->
                <div class="md:w-2/3">
                    <p class="text-[20px] text-black-700 mb-4 mb-4">
                        Your IP address may be used for various purposes, including:
                    </p>
                    <ul class="list-disc pl-5"> <!-- Use list-disc for dots (bullet points) -->
                        <li class="text-[20px] text-black-700 mb-4 mb-4">To diagnose service or technology problems reported by you that are associated with your IP
                            address.</li>
                        <li class="text-[20px] text-black-700 mb-4 mb-4">To estimate the total number of users visiting the Site from specific locales, countries or
                            regions of the world.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="bg-white border border-gray-200 rounded-[2rem] p-8 mb-10">
            <div class="flex flex-col md:flex-row gap-[50px]">
                <div class="md:w-1/2">
                    <h2 class="text-5xl font-medium text-gray-800 mb-2">Email Usage</h2>
                </div>
                <div class="md:w-2/3">
                    <p class="text-[20px] text-black-700 mb-4 mb-4">
                        Fightformesothelioma.com uses your email address for the following purposes:
                    </p>
                    <ul class="list-disc pl-5"> <!-- Use list-disc for dots (bullet points) -->
                        <li class="text-[20px] text-black-700 mb-4 mb-4"> To contact you about Fightformesothelioma.com services <br> or the Site.</li><br>
                        <li class="text-[20px] text-black-700 mb-4 mb-4">To notify you when you receive a <br> Fightformesothelioma.com email message.</li><br>
                        <li class="text-[20px] text-black-700 mb-4 mb-4">To communicate with you concerning problems or <br> malfunctions you report</li><br>
                    </ul>
                </div>
            </div>
        </div>

        <div class="bg-white border border-gray-200 rounded-[2rem] p-8 mb-10">
            <div class="flex flex-col md:flex-row gap-[50px]">
                <!-- Left Column -->
                <div class="md:w-1/2">
                    <h2 class="text-5xl font-medium text-gray-800 mb-2">Data Security</h2>
                </div>

                <!-- Right Column -->
                <div class="md:w-2/3">
                

                    <p class="text-[20px] text-black-700 mb-4 mb-4">
                       We maintain physical, electronic and procedural safeguards, in accordance with applicable state
                        and federal standards, to protect your personal information against risks such as loss,
                        destruction or misuse. These measures include:
                    </p>
                    <ul class="list-disc pl-5"> <!-- Use list-disc for dots (bullet points) -->
                        <li class="text-[20px] text-black-700 mb-4 mb-4">  Computer safeguards <br> or the Site.</li>
                        <li class="text-[20px] text-black-700 mb-4 mb-4">Secured files and buildings</li>
                        <li class="text-[20px] text-black-700 mb-4 mb-4">To communicate with you concerning problems or <br> malfunctions you report</li><br>
                    </ul>

                </div>
            </div>
        </div>

        <div class="bg-white border border-gray-200 rounded-[2rem] p-8 mb-10">
            <div class="flex flex-col md:flex-row gap-[50px]">
                <!-- Left Column -->
                <div class="md:w-1/2">
                    <h2 class="text-5xl font-medium text-gray-800 mb-2">Cookies and Log </h2>
                    <h2 class="text-5xl font-medium text-gray-800">Files</h2>
                </div>

                <!-- Right Column -->
                <div class="md:w-2/3">
                    <p class="text-[20px] text-black-700 mb-4 mb-4">
                        We use cookies to enhance your experience on our site. You can normally configure your browser
                        to accept all cookies, reject all cookies, or notify you when a cookie is set. If you reject all
                        cookies, you will still be able to use Fightformesothelioma services.

                    </p>
                    <p class="text-[20px] text-black-700 mb-4 mb-4">
                  
                        When a Web page on the website is requested, that request (including the date and time) is
                        logged on our servers with information including the IP address of the computer that requested
                        the page.
                    </p>


                </div>
            </div>
        </div>

        <div class="bg-white border border-gray-200 rounded-[2rem] p-8 mb-10">
            <div class="flex flex-col md:flex-row gap-[50px]">
                <!-- Left Column -->
                <div class="md:w-1/2">
                    <h2 class="text-5xl font-medium text-gray-800 mb-2">Information </h2>
                    <h2 class="text-5xl font-medium text-gray-800">Sharing and Legal </h2>
                    <h2 class="text-5xl font-medium text-gray-800">Disclaimer </h2>
                </div>

                <!-- Right Column -->
                <div class="md:w-2/3">
                    <p class="text-[20px] text-black-700 mb-4 mb-4">
                        Fightformesothelioma.com will not sell or rent your email address, name, mailing address or
                        other supplied information to anyone, except as required by law or as described in our legal
                        disclaimer.

                    </p>
                    <p class="text-[20px] text-black-700 mb-4 mb-4">
                   
                        We reserve the right to disclose your personally identifiable information as required to comply
                        with the law, applicable regulations, governmental requests, judicial proceedings, or subpoenas.

                    </p>


                </div>
            </div>
        </div>

        <div class="bg-white border border-gray-200 rounded-[2rem] p-8 mb-10">
            <div class="flex flex-col md:flex-row gap-[50px]">
                <!-- Left Column -->
                <div class="md:w-1/2">
                    <h2 class="text-5xl font-medium text-gray-800 mb-2">Children's Privacy</h2>
                </div>

                <!-- Right Column -->
                <div class="md:w-2/3">
                    <p class="text-[20px] text-black-700 mb-4 mb-4">
                        We do not knowingly collect personally identifiable information online from children under the
                        age of 13. If a child under the age of 13 has provided us with personally identifiable
                        information online, we ask that a parent or guardian contact us at
                        info@fightformesothelioma.com.

                    </p>
                    <p class="text-[20px] text-black-700 mb-4 mb-4">
                        
                        If you are between the ages of 13 and 18, please be sure to read this Privacy Policy with your
                        parent and obtain their permission before you submit or post any Personal Information.
                    </p>
                </div>
            </div>
        </div>

        <div class="bg-white border border-gray-200 rounded-[2rem] p-8 mb-10">
            <div class="flex flex-col md:flex-row gap-[50px]">
                <!-- Left Column -->
                <div class="md:w-1/2">
                    <h2 class="text-5xl font-medium text-gray-800 mb-2">California </h2>
                    <h2 class="text-5xl font-medium text-gray-800">Residents</h2>
                </div>

                <!-- Right Column -->
                <div class="md:w-2/3">
                    <p class="text-[20px] text-black-700 mb-4 mb-4">
                        California residents may request a list of all third parties to which this website has disclosed
                        certain information during the preceding year for those third parties' direct marketing
                        purposes. Please contact us at info@fightformesothelioma.com with "California Shine the Light
                        Privacy Request" in your message.
                    </p>


                </div>
            </div>
        </div>

        <div class="bg-white border border-gray-200 rounded-[2rem] p-8 mb-10">
            <div class="flex flex-col md:flex-row gap-[50px]">
                <!-- Left Column -->
                <div class="md:w-1/2">
                    <h2 class="text-5xl font-medium text-gray-800 mb-2">Contact Us</h2>
                </div>

                <!-- Right Column -->
                <div class="md:w-2/3">
                    <p class="text-[20px] text-black-700 mb-4 mb-4">
                        If you have any questions, concerns or suggestions about our Privacy Policy, you may contact us
                        at:

                        Email: info@fightformesothelioma.com

                        This privacy policy was last updated and is effective as of 3/17/2025. We reserve the right to
                        make changes to this policy at any time. Please check the policy each time you use our website
                        to ensure you are aware of any changes in our privacy practices.
                    </p>


                </div>
            </div>
        </div>

    </div>
</div>