<div class="flex flex-col mt-0">
  <div class="grid items-center w-full min-h-[86vh] md:max-h-[960px] grid-cols-1 md:grid-cols-3">
    <div
      class="relative flex flex-col bg-gray-100 items-center justify-center h-[80vh] md:h-full col-span-1 gap-4 overflow-hidden md:col-span-2 bg-platinum rounded-3xl">
      <div class="z-40 flex flex-col items-center justify-center gap-6 pb-20">
        <span class="absolute">
          <img src="assets/Frame (2).png" class="w-[800px] h-[555px] mt-16 pt-5" />
        </span>
        <h2
          class="z-10 text-black text-4xl leading-4xl md:text-5xl md:leading-5xl z-20 max-w-sm text-center md:max-w-2xl relative mt-16">
          Australia's Trusted<br> Mesothelioma Legal Platform
        </h2>
        <div class="flex justify-center mt-6 z-10">
          <button
            class="bg-[#a3d175] hover:bg-[#8bc55b] text-gray-800 font-medium py-2 px-8 rounded-lg flex items-center space-x-2">
            GET A FREE CASE REVIEW
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class=" col-span-1 flex flex-col overflow-hidden h-[90vh] md:h-full">
      <div
        class="relative flex flex-col justify-end order-2 gap-4 py-8 overflow-hidden bg-black md:order-1 rounded-3xl px-7"
        style="height: 70%;">
        <img src="assets/asbestosecells.png" alt="Microscopic view of mesothelioma cells"
          class="w-full h-full object-cover" fetchpriority="high" decoding="async" data-nimg="fill" sizes="100vw"
          style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
      </div>
      <div
        class="relative flex flex-col justify-end order-2 gap-4 py-8 overflow-hidden bg-black md:order-1 rounded-3xl px-7"
        style="height: 30%">
        <img src="assets/Frame 4 (3).png" alt="Microscopic view of mesothelioma cells"
          class="w-full h-full object-cover" fetchpriority="high" decoding="async" data-nimg="fill" sizes="100vw"
          style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">

        <!-- Text Overlay -->
        <p class="absolute text-white text-sm font-medium left-5 top-8 justify-end w-[300px]">
          Mesothelioma is a rare but aggressive form of cancer linked to prolonged exposure to asbestos, a toxic mineral once widely used in construction and manufacturing.
        </p>
        <p class="absolute text-[#B2DA82] text-sm font-medium mt-2 flex items-center gap-1">
          LEARN MORE  
          <span>
            <img src="assets/Vector.png" class="w-4 h-4"/>
          </span>
        </p>
        
      </div>

    </div>
  </div>
</div>