<div class="flex flex-col md:flex-row h-auto md:h-[700px] mt-10">
    <div class="basis-full md:basis-1/3 mt-8 md:mt-16 ml-24">
        <img src="assets/Frame 24 (1).png" class="w-full h-auto md:w-auto md:h-[600px]" />
    </div>
    <div class="basis-full md:basis-2/3 mt-8 md:mt-16">
        <div class="relative flex flex-col">
            <div class="flex flex-col max-w-lg gap-6 md:gap-[60px] m-auto px-4 md:px-0">
                <div class="bg-white p-8 max-w-4xl mx-auto">
                    <h1 class="text-3xl font-bold text-gray-800 mb-6">Who is at risk?</h1>
                    <p class="text-gray-600 mb-8">
                        Each year, more than 800 people in Australia are diagnosed with mesothelioma. The median age at
                        diagnosis is 77 years, with approximately two new cases identified daily.
                    </p>
                    <div class="space-y-6">
                        <div class="flex items-start gap-6">
                            <div class="bg-gray-200 h-10 w-10 flex items-center justify-center rounded-lg">
                                <img src="assets/Frame 21 (17).png" alt="Mesothelioma Resources & Support"
                                    class="w-full h-full object-cover rounded-lg" />
                            </div>
                            <span>
                                <span class="text-xl font-semibold text-black-700">Construction workers </span> 
                                <span class="text-md font-medium text-black-700"> – Exposure in</span><br>
                                <span class="text-md font-medium text-black-700">  insulation, drywall, roofing.</span>
                            </span>
                        </div>
                        <div class="flex items-start gap-6">
                            <div class="bg-gray-200 h-10 w-10 flex items-center justify-center rounded-lg">
                                <img src="assets/Frame 21 (14).png" alt="Mesothelioma Resources & Support"
                                    class="w-full h-full object-cover rounded-lg" />
                            </div>
                            <span>
                                <span class="text-xl font-semibold text-black-700">Shipyard workers </span> 
                                <span class="text-md font-medium text-black-700"> – Asbestos used in ship</span><br>
                                <span class="text-md font-medium text-black-700">  insulation.</span>
                            </span>
                        </div>
                        <div class="flex items-start gap-6">
                            <div class="bg-gray-200 h-10 w-10 flex items-center justify-center rounded-lg">
                                <img src="assets/Frame 21 (15).png" alt="Mesothelioma Resources & Support"
                                    class="w-full h-full object-cover rounded-lg" />
                            </div>
                            <span>
                                <span class="text-xl font-semibold text-black-700">Factory workers</span> 
                                <span class="text-md font-medium text-black-700"> – Industrial machinery</span><br>
                                <span class="text-md font-medium text-black-700">  contained asbestos.</span>
                            </span>
                            
                        </div>
                        <div class="flex items-start gap-6">
                            <div class="bg-gray-200 h-10 w-10 flex items-center justify-center rounded-lg">
                                <img src="assets/Frame 21 (16).png" alt="Mesothelioma Resources & Support"
                                    class="w-full h-full object-cover rounded-lg" />
                            </div>
                            <span>
                                <span class="text-xl font-semibold text-black-700">Firefighters</span> 
                                <span class="text-md font-medium text-black-700"> – Asbestos released from</span><br>
                                <span class="text-md font-medium text-black-700">  burning buildings.</span>
                            </span>
                        </div>
                        <div class="flex items-start gap-6">
                            <div class="bg-gray-200 h-full w-35 flex items-center justify-center rounded-lg">
                                <img src="assets/Frame 21 (17).png" alt="Mesothelioma Resources & Support"
                                    class="w-full h-full object-cover rounded-lg" />
                            </div>
                            <span>
                                <span class="text-xl font-semibold text-black-700">Military veterans </span> 
                                <span class="text-md font-medium text-black-700">(Navy, Army, Air Force) – Asbestos used in ships, barracks, and vehicles.</span><br>

                                <!-- <span class="text-md font-medium text-black-700"> – Asbestos used in ships, barracks, and vehicles.</span><br> -->
                            </span>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>