<header class="w-full bg-white m-auto px-4 md:px-8 lg:px-14">
  <div class="mx-auto px-4 py-3 flex justify-between items-center">
    <!-- Logo Section -->
    <div class="flex items-center">
      <div class="bg-gray-300 p-4 mr-8">
        <span class="font-bold text-black">Logo</span>
      </div>
    </div>

    <!-- Desktop Navigation -->
    <nav class="hidden md:flex space-x-8 items-center justify-center flex-grow">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Home</a>
      <a routerLink="/MesothelimoPage" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Mesothelioma</a>
      <a routerLink="/AboutUS" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">About</a>
      <a routerLink="/Contactus" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Contact</a>
    </nav>

    <!-- Claim Form Button -->
    <div class="flex">
      <a routerLink="/ClaimForm">
        <button type="button" (click)="nextStep()"
          class="bg-[#a3d175] hover:bg-[#8bc55b] text-gray-800 font-medium py-2 px-8 rounded-lg flex items-center space-x-2">
          <span>CLAIM FORM</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
          </svg>
        </button>
      </a>
    </div>

    <!-- Mobile Menu Button -->
    <div class="md:hidden">
      <button class="bg-gray-500 p-2 w-10 h-10 rounded-lg" (click)="toggleMenu()" aria-label="Toggle Menu">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 text-white">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
  </div>

  <!-- Mobile Navigation Menu -->
  <div *ngIf="isMenuOpen" class="md:hidden bg-white w-full shadow-md">
    <nav class="flex flex-col space-y-4 p-4">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Home</a>
      <a routerLink="/MesothelimoPage" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Mesothelioma</a>
      <a routerLink="/AboutUS" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">About</a>
      <a routerLink="/Contactus" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Contact</a>
    </nav>
  </div>
</header>