<div class="flex flex-col items-center justify-center mt-[167%] md:mt-32 ">
    <div class="relative flex items-center justify-center">
        <!-- Image -->
        <img src="assets/Group 92 (1).png" class="w-[300px] h-[273px] md:w-[500px] md:h-[455px] mt-16" />
        <!-- Text centered on top of the image -->
        <h2
            class="absolute text-[#10452E] text-2xl md:text-5xl leading-8 md:leading-5xl text-center w-[90%] md:w-[700px] mt-32">
            We stand by your side in the <br class="hidden md:block"> pursuit of justice, awareness, and <br class="hidden md:block"> a safer future.
        </h2>
    </div>
</div>