<div class="flex flex-col items-center justify-center mt-32">
    <div class="relative flex items-center justify-center">
        <!-- Image -->
        <img src="assets/Group 92 (1).png" class="w-[500px] h-[455px]" />
        <!-- Text centered on top of the image -->
        <h2
            class="absolute text-[#10452E] text-5xl leading-4xl md:leading-5xl text-center w-[700px]">
            We stand by your side in the <br> pursuit of justice, awareness, and <br> a safer future.
        </h2>
    </div>
</div>