/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add custom styles here */
body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: auto;
  margin: 0 auto;
  height: auto;
}


input, textarea {
  font-size: 16px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}