<div class="flex flex-col mt-4">
  <div class="grid items-center w-full min-h-[84vh] md:max-h-[980px] grid-cols-1 md:grid-cols-3">
    <div
      class="relative flex flex-col bg-gray-100 items-center justify-center h-[80vh] md:h-full col-span-1 gap-4 overflow-hidden md:col-span-2 bg-platinum rounded-3xl">
      <div class="z-40 flex flex-col gap-6 pb-20 p-[80px]"> <!-- Added p-5 for padding -->
        <div class="z-10 text-black text-justify">
          <div class="flex items-center gap-4 mt-0"> <!-- Flex container to align image and text horizontally -->
            <div class="bg-gray-200 h-10 w-10 flex items-center justify-center rounded-lg">
              <img src="assets/Frame 35 (1).png" alt="Mesothelioma Resources & Support"
                class="w-full h-full object-cover rounded-lg" />
            </div>
            <p class="text-md font-medium">MESOTHELIOMA OVERVIEW</p> <!-- Added m-0 to remove default margin -->
          </div>
        </div>
        <h2
          class="z-10 text-black text-6xl text-bold leading-4xl md:text-6xl md:leading-5xl z-20 max-w-sm md:max-w-2xl relative">
          Mesothelioma
          <br> Resources & Support:<br>
          Get the facts you need
        </h2>

        <span>
          Mesothelioma is a rare but aggressive form of cancer linked to prolonged
          <span class="inline-block w-full">exposure to asbestos, a toxic mineral once widely used in construction
          </span>

          and manufacturing.
        </span>
        <div class="flex mt-6 z-10">
          <button
            class="bg-[#a3d175] hover:bg-[#8bc55b] text-gray-800 font-medium py-2 px-8 rounded-lg flex items-center space-x-2">
            GET A FREE CASE REVIEW
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <!-- <div class=" col-span-1 flex flex-col overflow-hidden h-[100vh] md:h-full">
      <div
        class="relative flex flex-col justify-end order-2 gap-4 py-8 overflow-hidden bg-black md:order-1 rounded-3xl px-7"
        style="height: 100%;">
        <img src="assets/Frame 291.jpg" alt="Microscopic view of mesothelioma cells" class="w-full h-full object-cover"
          fetchpriority="high" decoding="async" data-nimg="fill" sizes="100vw"
          style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
      </div>

    </div> -->
    <div class="col-span-1 flex flex-col overflow-hidden h-[100vh] md:h-full">
      <div class="relative flex flex-col justify-end order-2 gap-4 py-8 overflow-hidden bg-black md:order-1 rounded-3xl px-7"
        style="height: 100%;">
        <video class="w-full h-full object-cover" autoplay loop muted style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
          <source src="assets/Australia Website video.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</div>